#background-color {
  fill: black;
}

#margin {
  x: 10%;
  y: 10%;
  width: 80%;
  height: 80%;
}

#date {
  y: 75%;
  font-size: 30;
  text-length: 16;
}

#time {
  y: 100%;
  font-size: 80;
  text-length: 8;
}

#time-suffix {
  x: $+5;
  y: 100%;
  font-size: 30;
  text-length: 2;
}

#time-suffix.text-end {
  x: $-5;
}

.text-base {
  fill: white;
  font-family: System-Bold;
  font-weight: bold;
}

.text-start {
  x: 0;
  text-anchor: start;
}

.text-middle {
  x: 50%;
  text-anchor: middle;
}

.text-end {
  x: 100%;
  text-anchor: end;
}